.wrapper1 {
	background-image: url('../images/bgrs/2.avif');
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper2 {
	background-image: url('../images/bgrs/6.avif');
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper3 {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/bgrs/1.avif');
}
.wrapper4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/bgrs/4.avif');
}
.wrapper5 {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/bgrs/5.avif');
}