.headerWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	padding-top: 30px;
	z-index: 3;
	color: #fff;
}
.container {
	max-width: 1740px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
.headerLogo {
	font-size: 52px;
	line-height: 60px;
	cursor: pointer;
	transition: 0.3s;
		& > a {
				text-decoration: none;
				color: inherit;
			}
	&:hover{
		transform: translateY(-5px);
		transition: 0.3s;
	}
}
.headerMenuWrapp {
	& > ul {
		display: flex;
		gap: 24px;
		list-style: none;
		& > li {
			font-size: 22px;
			line-height: 26px;
			cursor: pointer;
			transition: 0.3s;
			& > a {
				text-decoration: none;
				color: inherit;
			}
			&:hover {
				transform: translateY(-2px);
				transition: 0.3s;
			}
		}
	}

}
